/* css for nav */
/* General reset */
<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
=======
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
>>>>>>> 4aa8f41 (update)

header {
    background-color: #f4f4f4;
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 24px;
    font-weight: bold; /* Makes "Habit Tracker" bold */
    color: #333;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px; /* Space between the list items */
}

li {
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    color: #007bff; /* Color for Sign In and Sign Up */
    text-decoration: none;
}

li:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* home css */
<<<<<<< HEAD
#bg-img{
    background-image: url(./images/home-Photoroom.png);
    background-size: cover;
}
=======
>>>>>>> 4aa8f41 (update)
